<aside class="sidebar">
  <div class="sidebar-header">
    <h1 class="logo">KitchenPal</h1>
  </div>

  <nav class="sidebar-nav">
    <ul class="menu-list">
      <li *ngFor="let item of menuItems" class="menu-item">
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="menu-link"
        >
          <span class="material-icons menu-icon">{{ item.icon }}</span>
          <span class="menu-label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
