<aside class="sidebar">
  <div class="sidebar-header">
    <h1 class="logo">KitchenPal</h1>
  </div>

  <nav class="sidebar-nav">
    <ul class="menu-list">
      <li
        *ngFor="let item of menuItems"
        class="menu-item"
        routerLinkActive="active"
      >
        <a [routerLink]="item.route" class="menu-link">
          <span class="menu-icon" [attr.data-icon]="item.icon"></span>
          <span class="menu-label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
